.tagsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  font-size: 18px;
  .header {
    font-weight: 600;
    color: #697488;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  .content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    .tags {
      display: flex;
      flex-direction: column;
      text-align: start;
      max-height: 150px;
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none;
      .tagsWrapper {
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 5px;
        .searchTag {
          color: #525252;
          font-weight: normal;
          line-height: 30px;
          letter-spacing: 0.5px;
          max-height: 274px;
          font-size: 14px;
          white-space: nowrap;
        }
        .nameCount {
          color: #a8a8a8;
          font-weight: normal;
          line-height: 22px;
          letter-spacing: 0.5px;
          font-size: 14px;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  height: 80px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  height: 80px;
}
-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 15);
}
