.leftContent {
  flex-wrap: wrap;
  flex-direction: column;

  .radioContent {
    display: flex;
    padding: 5px;
  }
}

.header {
  font-weight: 600;
  font-size: 13px;
  color: #697488;
  letter-spacing: 0.5px;
}
