.cartItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  .cartItemList {
    max-width: 90%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto 20px;
    .leftContent {
      display: flex;
      flex-direction: column;
      text-align: start;
      .priceSpan {
        color: #1ea4ce;
        padding-bottom: 5px;
      }
    }
    .rightContent {
      display: flex;
      margin-left: auto;
      align-items: center;
      .cartItemButton {
        background-color: transparent;
        border: none;
        color: #1ea4ce;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin: auto;
      }
    }
  }
}
